@import "./variables.scss";

body {
  text-align: center;
  justify-content: space-between;
  background-color: #464646;
  margin: 0rem;
}

.navBar {
  margin-top: 0rem;
  margin-bottom: 1rem;
  background-color: #292929;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header {
  font-size: 3rem;
  font-family: $fontprimary;
  font-weight: 500;
  color: #e4e4e4;
  height: 4rem;
}

.searchInput {
  height: 2rem;
  width: 16rem;
}

.searchBtn {
  height: 2.4rem;
  width: 2.4rem;
  cursor: pointer;
}

.movieError {
  opacity: 0;
  color: red;
}

.movieName {
  font-size: 3rem;
}

.moviePoster {
  height: 40rem;
  width: 30rem;
  border: 0rem;
  opacity: 0;
}