@import "./variables.scss";

body {
  margin: 1rem;
  text-align: center;
  justify-content: space-between;
}

.header {
  font-size: 3rem;
  font-family: $fontprimary;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.searchButton {
  cursor: pointer;
}

.movieError {
  opacity: 0;
}

.movieName {
  font-size: 5rem;
}

.searchInput {
  height: 2rem;
  width: 16rem;
}

.searchBtn {
  height: 2.4rem;
  width: 2.4rem;
}